html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.54;
}

body {
  font-family: 'Maven Pro', sans-serif;
  font-style: normal;
  padding: 15px !important;
}

h1,h2,h3 {
  font-weight: 400;
  color: #333;
}

p {
  color: #666;
}

code {
  font-size: 14px;
  color: #e83e8c;
  word-break: break-word;
}

a {
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

#social-links {
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}