html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/motiva-sans-regular.woff2') format('woff2'), url('../fonts/motiva-sans-regular.woff') format('woff');
}

body {
  font-family: 'Motiva Sans', 'Noto Sans', -apple-system, sans-serif;
  font-style: normal;
  color: #444;
  line-height: 1.86;
  padding: 15px;
}

h1,h2,h3 {
  font-weight: 400;
}

p {
  color: #b3b3b3;
}

a {
  color: #39a6de;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}