html {
  font-size: 16px;
  line-height: 1.76;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  color: #333;
  padding: 15px;
}

a {
  color: #0074d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}